name: Bump Version

on: pull_request

jobs:
  patch-version:
    name: 'Bump Patch Version'
    # if: "contains(github.event.head_commit.message, '[PATCH]')"
    runs-on: ubuntu-latest

    steps:
      - name: 'Checkout source code'
        uses: 'actions/checkout@v3'
        with:
          ref: ${{ github.ref }}
      - name: 'cat package.json'
        run: cat ./package.json
      - name: Logging
        run: |
          echo "${{toJSON(github.event.pull_request)}}"

